chardet
idna
requests
urllib3
websocket-client
requests-oauthlib
notebook
jupyterhub
jupyterlab
ipywidgets
numpy
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
sympy
cython
patsy
statsmodels
cloudpickle
dill
dask
numba
bokeh
sqlalchemy
h5py
protobuf
pyspark
pyspark-stubs
word_clouds
pillow
xlrd
requests
requests_oauthlib

